<div>
<h4><%= movie %></h4>
<% for(var i=0;i<locations.length;i++) { %>
<div style="margin-bottom:15px">
  <span title="lat:<%= locations[i].coordinates.lat %>, lon:<%= locations[i].coordinates.lon %>"> <%= locations[i].title %> </span>: 
  <% for(var j=0;j<locations[i].text.length;j++) { %>
    <br/> <%= locations[i].text[j] %>
  <% } %>
</div>
<% } %>
</div>
