<div>
<h3><%= movie %></h3>
<% for(var i=0;i<locations.length;i++) { %>
<div style="margin-bottom:15px">
  <b><%= locations[i].title %></b>: lat:<%= locations[i].coordinates.lat %>, lon:<%= locations[i].coordinates.lon %>
  <% for(var j=0;j<locations[i].text.length;j++) { %>
    <br/> <%= locations[i].text[j] %>
  <% } %>
</div>
<% } %>
</div>
